
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header-container{
  position: fixed;
  z-index: 10;
  width: 100%;
  
  background: #ffffff;
  top: 0px;
  box-shadow: 0px 4px 4px rgba(87, 122, 129, 0.15);
  
}
.header-content{
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-link-content{
  display: flex;
  position: relative;
  left: -50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  width: 500px;
  justify-content: space-between;
  
}
.header-link-content a{
  text-decoration: none;
  color: #c4c4c4;
}
.header-link-content a:hover{
  color: #4FC5DF;

}
.user-header-content{
    display: flex;
    position: relative;
    right: 10px;
    width: 150px;
    
    align-items: center;
    justify-content: space-evenly;
}
.user-header-content a{
  text-decoration: none;
  color: #c4c4c4;
}

#buddy-store-logo{
  position: relative;
  width: 230px;
  height: 63.55px;
  object-fit: cover;
  left: 30px;
  
}
.slideShow{
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  top: 120px;
}
.slide{
  display: inline-block;
  height: 600px;
  width: 100%;
  border-radius: 40px;
}
.slideShowSlider{
  white-space: nowrap;
  transition: ease 1000ms;
}
/* Buttons */
.slideshowDots{
  text-align: center;
}
.slideshowDot{
  position: relative;
  top: -50px;
  
  z-index: 9;
  display: inline-block;
  height:20px;
  width:20px;
  border-radius:50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4
}
.slideshowDot.active{
  background-color: #73CDE1;
}

/* homepage */
.collection-container{
  position: relative;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}

#collection-header{
  font-family: 'Dancing Script', cursive;
  margin-bottom: auto;
  font-style: italic;
  font-weight: normal;
  font-size: 120px;
  line-height: 144px;
  color: #35B3CF;
}
.arrivals-header{
  font-family: 'Dancing Script', cursive;
  margin-top: auto;
  font-style: italic;
  font-weight: normal;
  font-size: 120px;
  line-height: 144px;
  color: #35B3CF;
  margin-bottom: auto;
}
.home-product-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.collection-feature-container{
  position: relative;

  height: 700px;
  
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  
  
}

.image-wrap-container{
  position: relative;
  margin: auto;
  width: 400px;
  height: 300px;
  margin: 10px 50px 30px 10px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  overflow: hidden;
 
}

.image-wrap-container img{
  position: absolute;
  display: block;
  max-width: 100%;
  
  height:300px;
  width: 400px;
  object-fit: cover;
  
}

.image-wrap-container:hover img{
  opacity: 1;
  transition-duration: 1.5s;
  transform: scale(1.1);
  transform-origin: 50% 50%;
}
.image-description{
  position: absolute;
  font-size: 80px;
  display: flex;
  width: 400px;
  height:300px;
  background-color: rgb(53, 53, 53);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  align-items: center;
    justify-content: center;
}

.image-wrap-container:hover .image-description{
  visibility: visible;
  opacity: 0.7;
 
}
.testimonial-container{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.testimonial-content{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 400px;
  text-align: center;
  white-space:pre-wrap
}
.testimonial-content p{
  margin-top: 0px;
}
.testimonial-content span{
  color: #FF84A9;
  font-size: 20px;
}
/* Login- logout page */
.sign-up-form p label{
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 10px;
}
.login-form p label{
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 10px;
}
.login{
  position: relative;
  top: 200px;
  display: flex;
  justify-content: center;
}

.Login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

.login-header{
  position: relative;
  top: 150px;
  display: flex;
  justify-content:center;
  border-bottom: 1px solid black
}
.login-user{
  position: relative;
  top: 200px;
  display: flex;
  justify-content: center;
}

/* Build admin navbar */
.admin-homePage{
  position: relative;
  top: 150px;
}

/* build user navbar */
.User-nav-bar{
  position: relative;
  top: 250px;
}


/* shop style */
#shopimage{
  position: relative;
  width: 100%;
  top: 120px;
}
#shoplineimage{
  position: relative;
  top: -150px;
  width: 100%;
}
.top-image-shop{
  margin-bottom: 50px;
}
.shop-health-care{
  text-align: center;
}
.shop-health-care h1{
  position: relative;
  top: -30px;
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-weight: normal;
  font-size: 100px;
  line-height: 60px;
  color: #35B3CF;
  display: flex;
  justify-content:center;
}
/* product image shop */

.product-container{
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-image{
  width: 300px;
  height: 200px;
  object-fit: contain;
}
.product-price{
  width: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
