.contact-us-content-container{
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}
.contact-us-content-container img{
    width: 100%;
}
.contact-us-content-container p{
    width: 48%;
    font-size: 1.5rem;
}
.contact-us-form form{
    padding-bottom: 3rem;
    width: 40vw;
    height: auto;
}
#email-error{
    color: red;
}
.form-textarea{
    padding-bottom: 1rem;
}
.contact-us-form input, .contact-us-form label, .contact-us-form textarea, .contact-us-form button{
    display: block;
    width: 100%;
    min-width: 200px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.form-textarea textarea{ 
    padding-bottom: 1em;
    min-height: 200px;
    
}
.contact-us-form button{ 
    border-radius: 1em;
    padding-top: 1em;
    background-color:aqua;
    color: black;
    font-size: 1em;
   
}
.contact-us-form button:hover{ 
    background-color: red;
    color: white
}
@media (max-width: 768px){
    .contact-us-content-container p{
        width: 80%;
    }
}

@media (max-width: 400px) {
    .contact-us-content-container p{
        width: 95%;
        font-size: 1.2rem;
    }
    .contact-us-form form{
        width: 95%;
    }
}